<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="lightning" content="lnurlp:rastacalavera@getalby.com"/>
<meta property="og:image" content="https://linuxlemming.com/img/host/calaveraJP.jpeg" />
{{ if .Description}}
  <meta name="description" content="{{ .Description }}">
{{ else }}
  {{ if .Site.Params.Description }}<meta name="description" content="{{ .Site.Params.Description }}">
  {{ end }}
{{ end }}
{{ hugo.Generator }}
